@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.paragraph {
  font-size: clamp(6px, 2.80368vw, 24px);
  font-family: "Raleway", sans-serif;

  @include respond-to("md") {
    font-size: clamp(7px, 3.2709599999999996vw, 28px);
  }

  @include respond-to("tablet_sm", "landscape") {
    width: 50% !important;
    font-size: clamp(6.5px, 13 / 1024 * 100vw, 26px);
  }

  @include respond-to("xl") {
    width: 35% !important;
    font-size: clamp(9px, 0.93744vw, 36px);
  }
}

.paragraph--white {
  @extend .paragraph;
  @apply text-white;
}

.paragraph--dark {
  @extend .paragraph;
  @apply text-dark;
}

.paragraph--yellow {
  @extend .paragraph;
  @apply text-primary;
  font-family: "Unbounded", sans-serif;
}
