.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply mt-16;

    &__img {
        width: clamp(900px, 93.744vw, 3600px);
        position: absolute;
    }

    &__heading {
        font-size: clamp(32px, 3.33312vw, 128px);
        width: 65%;
        margin: auto;
        text-align: center;
        font-family: "Oswald", sans-serif;
        @apply text-white;
        @apply pt-24;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        @apply mt-10;
    }
}