.container {
    width: 86.6%;
    margin: auto;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: clamp(517.5px, 53.9028vw, 2070px);
    }

    &__heading {
        font-size: clamp(32px, 3.33312vw, 128px);
        width: 60%;
        font-family: "Unbounded", sans-serif;
        @apply mt-16;

        &__span {
            @apply text-white;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 28%;
        @apply mt-4;
        position: relative;

        &__video {
            text-decoration: underline;
            @apply mt-6;
            display: flex;
            justify-content: space-between;
            @apply gap-4;
            align-items: center;
        }
    }
}