@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__mob {
    display: none;
  }

  &__img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  @include respond-to("xs") {
    &__mob {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: flex;
    }

    &__img {
      display: none;
    }
  }

  @include respond-to("lg") {
    .mob {
      display: none;
    }

    &__img {
      display: flex;
    }
  }

  &__container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: clamp(50px, 23.363999999999997vw, 200px);
    @include respond-to("md") {
      padding-top: clamp(55px, 25.7004vw, 220px);
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      @apply mt-4;
      @include respond-to("xxs") {
        @apply mt-6;
      }
      @include respond-to("md") {
        @apply mt-8;
      }
    }
    &__heading {
      font-size: clamp(16px, 7.47648vw, 64px);
      font-weight: 700;
      font-family: "Oswald", sans-serif;
      text-align: center;
      color: white;
    }
    &__paragraph {
      width: 90%;
      text-align: center;
      color: white;
      font-size: clamp(7px, 3.2709599999999996vw, 28px);
      //   line-height: clamp(5px, 2.3364vw, 20px);
    }
    &__btn {
      @apply mt-2;
      @include respond-to("xxs") {
        @apply mt-4;
      }
      @include respond-to("md") {
        @apply mt-8;
      }
    }
  }
}
