@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.header_pc {
  width: 100%;
  @apply pt-10 pb-10;
  z-index: 100;
  position: sticky;
  top: 0;

  &__logo {
    @apply text-primary;
    font-family: "Unbounded", sans-serif;
    font-size: clamp(16px, 1.66656vw, 64px);
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-family: "Raleway", sans-serif;
    @apply ml-12;

    @include respond-to("xl") {
      @apply ml-16;
    }
    @include respond-to("3xl") {
      @apply ml-20;
    }
    @include respond-to("5xl") {
      @apply ml-24;
    }
  }
}
.scrolled {
  background-color: #1a1a1a;
}
