@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../assets/Footer/bg_text.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.05);
  @apply pt-16 pb-16;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.6%;
    margin: auto;

    &__logo {
      @apply text-primary;
      font-family: "Unbounded", sans-serif;
      font-size: clamp(16px, 1.66656vw, 64px);
    }
  }

  &__logo {
    cursor: pointer;
    @apply mt-8;

    @include respond-to("tablet_sm", "landscape") {
      width: clamp(75px, 150 / 1024 * 100vw, 300px);
    }

    @include respond-to("xl") {
      width: clamp(60px, 120 / 1200 * 100vw, 240px);
    }

    @include respond-to("2xl") {
      width: clamp(60px, 120 / 1360 * 100vw, 240px);
    }

    @include respond-to("3xl") {
      width: clamp(60px, 120 / 1520 * 100vw, 240px);
    }

    @include respond-to("4xl") {
      width: clamp(60px, 120 / 1680 * 100vw, 240px);
    }

    @include respond-to("5xl") {
      width: clamp(60px, 120 / 1920 * 100vw, 240px);
    }

    @include respond-to("6xl") {
      width: clamp(60px, 120 / 2560 * 100vw, 240px);
    }
  }
}
