@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins";
.contraindications {
  position: relative;
  .mob {
    display: block;
  }

  .pc {
    display: none;
  }

  @include respond-to("tablet_sm") {
    .mob {
      display: none;
    }
    .pc {
      display: block;
    }
  }
}
