@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.grid {
  &__overlay {
    @apply p-8;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    @include respond-to("md") {
      width: clamp(45px, 21.0276vw, 180px);
      height: clamp(45px, 21.0276vw, 180px);
    }
    @include respond-to("xl") {
      width: clamp(30px, 60 / 1200 * 100vw, 120px);
      height: clamp(30px, 60 / 1200 * 100vw, 120px);
    }

    @include respond-to("2xl") {
      width: clamp(32px, 64 / 1520 * 100vw, 128px);
      height: clamp(32px, 64 / 1520 * 100vw, 128px);
    }
  }

  &__title {
    width: 85%;
    font-family: "Raleway", sans-serif;
    @apply text-white;
    font-size: clamp(14px, 6.541919999999999vw, 56px);

    @include respond-to("md") {
      @apply mt-10;
    }
    @apply mt-4;
    text-align: center;
  }

  &__description {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    @apply text-pretty;
    @apply mt-4;
    text-align: center;
    width: 90%;
    font-size: clamp(7px, 3.2709599999999996vw, 28px);

    @include respond-to("xxs") {
      font-size: clamp(9px, 4.20552vw, 36px);
    }
    @include respond-to("md") {
      @apply mt-12;
      font-size: clamp(9px, 4.20552vw, 36px);
    }

    @include respond-to("xl") {
      font-size: 14px;
    }
  }
}
