.burger_menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    opacity: 0;
    left: 0px;
    z-index: -100;
    @apply gap-4;
    @apply bg-dark;

    &__link {
        @apply text-3xl;
        @apply text-primary;
    }
}