.header {
  width: 100%;

  &__container {
    display: flex;
    padding: clamp(12px, 5.60736vw, 48px) clamp(10px, 4.6728vw, 40px);
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-size: clamp(14px, 6.541919999999999vw, 56px);
      font-family: "Unbounded", sans-serif;
      font-weight: 300;
      color: #fff200;
    }
  }
}
.active {
  background-color: #1a1a1a;
  position: fixed;
  z-index: 10000;
  position: fixed;
  top: 0;
}

@media screen and (min-width: 1200px) {
  .header {
    display: none;
  }
}
