@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  &__items {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @apply pt-16;
    width: 100%;
    @include respond-to("xl") {
      width: 65%;
    }
    position: relative;
    margin: auto;
  }
}

.customButton {
  position: absolute;
  top: 50%;
  z-index: 20;
  width: clamp(25px, 2.604vw, 100px);
  height: clamp(25px, 2.604vw, 100px);
}

.customButton.prev {
  left: 20px;
  @include respond-to("xl") {
    left: 0px;
  }
}

.customButton.next {
  right: 20px;
  @include respond-to("xl") {
    right: 0px;
  }
}
