@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  position: relative;
  width: 70%;
  height: clamp(400px, 41.664vw, 1600px);
  @apply mt-24;
}

.prev,
.next {
  width: clamp(30px, 3.1248vw, 120px);
  height: clamp(30px, 3.1248vw, 120px);
  background-color: #fff200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  z-index: 10;
  color: #182f67;
}

.prev {
  left: -20px;
}

.next {
  right: -20px;
}

.container_mob {
  width: 70%;
  height: clamp(150px, 70.092vw, 600px);
  position: relative;

  margin-bottom: clamp(160px, 74.7648vw, 640px);
  margin-top: clamp(25px, 11.681999999999999vw, 100px);
  @include respond-to("md") {
    margin-bottom: clamp(175px, 81.774vw, 700px);
  }
  @include respond-to("lg") {
    margin-bottom: clamp(225px, 105.13799999999999vw, 900px);
  }
  &__img {
    width: 100%;
  }
}

.prev_mob,
.next_mob {
  width: clamp(20px, 9.3456vw, 80px);
  height: clamp(20px, 9.3456vw, 80px);
  background-color: #fff200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  z-index: 10;
  color: #182f67;
}

.prev_mob {
  left: -14px;
}

.next_mob {
  right: -14px;
}
.icon {
  @include respond-to("md") {
    width: clamp(9px, 4.20552vw, 36px);
    height: clamp(9px, 4.20552vw, 36px);
  }
}
