.container {
  display: flex;
  flex-direction: column;
  @apply mt-28;

  &__bg {
    background-image: url("@assets/Usage/3D Block.svg");
    background-position: center bottom;
  }

  &__heading {
    font-size: clamp(32px, 3.33312vw, 128px);
    margin: auto;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    @apply text-white;

    &__span {
      @apply text-primary;
    }
  }
}
