@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  display: flex;
  overflow-x: hidden;
  gap: clamp(20px, 2.0832vw, 80px);
  border-top: 1px solid var(--yellow, #fff200);
  border-bottom: 1px solid var(--yellow, #fff200);
  width: 100%;
  @apply p-3;
  @apply mt-12;
  @include respond-to("md") {
    @apply mt-16;
  }
  @include respond-to("xl") {
    @apply mt-24;
  }

  &__text {
    font-family: "Unbounded", sans-serif;
    font-weight: 750;
    font-size: clamp(16px, 1.66656vw, 64px);
    color: transparent;
    -webkit-text-stroke: 0.4px yellow;
    text-align: center;
  }
}
