.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: clamp(32px, 3.33312vw, 128px);
    margin: auto;
    text-align: center;
    font-family: "Oswald", sans-serif;
    @apply text-white;
    @apply mt-16 pt-20;
  }
}
