@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #fff200 transparent;
}

body {
  @apply bg-dark;
}

::selection {
  background-color: #fff200;
  color: #000000;
}

::-webkit-selection {
  background-color: #fff200;
  color: #000000;
}

::-moz-selection {
  background-color: #fff200;
  color: #000000;
}

*::-webkit-scrollbar {
  width: clamp(8px, 0.83328vw, 32px);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff200;
  border-radius: clamp(9px, 0.93744vw, 36px);
  border: clamp(9px, 0.93744vw, 36px) solid #fff200;
}
