@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.container {
  &__button {
    position: absolute;
    bottom: 0;
    margin-bottom: clamp(15px, 1.5624vw, 60px);

    @include respond-to("md") {
      @apply mb-8;
    }

    @include respond-to("xl") {
      margin-bottom: clamp(15px, 1.5624vw, 60px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;

    @include respond-to("xl") {
      width: clamp(200px, 20.832vw, 800px);
      height: clamp(200px, 20.832vw, 800px);
    }
    &__img {
      position: relative;
      @include respond-to("md") {
        height: clamp(200px, 93.45599999999999vw, 800px);
      }

      @include respond-to("tablet_sm", "landscape") {
        height: clamp(190px, 380 / 1024 * 100vw, 760px);
      }

      @include respond-to("xl") {
        height: inherit;
      }
    }

    &__text {
      position: absolute;
      @apply p-3;
      font-family: "Unbounded", sans-serif;
      width: 80%;
      // left: 100px;
      text-align: left;
      font-size: clamp(8px, 3.73824vw, 32px);
      display: flex;
      gap: 10px;

      @include respond-to("md") {
        @apply p-10;
      }

      @include respond-to("tablet_sm", "landscape") {
        width: 100%;
        font-size: clamp(6.5px, 13 / 1024 * 100vw, 26px);
        @apply p-5;
      }

      @include respond-to("xl") {
        @apply pl-5;
        width: 80%;
        font-size: clamp(7px, 14.5 / 1200 * 100vw, 29px);
      }
    }

    &__separator {
      border: 2px;
    }
  }
}
