@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  &__button {
    position: absolute;
    bottom: 0;
    margin-bottom: clamp(15px, 1.5624vw, 60px);
    @include respond-to("md") {
      @apply mb-8;
    }
    @include respond-to("xl") {
      margin-bottom: clamp(15px, 1.5624vw, 60px);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;

    &__img {
      position: relative;
      @include respond-to("md") {
        height: clamp(200px, 93.45599999999999vw, 800px);
      }

      @include respond-to("xl") {
        height: inherit;
      }
    }

    &__text {
      position: absolute;
      @apply p-3;
      font-family: "Unbounded", sans-serif;
      width: 80%;
      // left: 100px;
      text-align: left;
      font-size: clamp(8px, 3.73824vw, 32px);
      @include respond-to("md") {
        @apply p-10;
      }
      @include respond-to("xl") {
        font-size: clamp(14px, 1.45824vw, 56px);
      }
      display: flex;
      gap: 10px;
    }

    &__separator {
      border: 2px;
    }
  }
}
