.container {
    background-color: rgba(255, 255, 255, 0.03);

    &__heading {
        font-size: clamp(32px, 3.33312vw, 128px);
        width: 35%;
        margin: auto;
        text-align: center;
        font-family: "Oswald", sans-serif;
        @apply text-white;
        @apply mt-16 pt-20;
    }
}