.container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-size: clamp(32px, 3.33312vw, 128px);
    width: 35%;
    margin: auto;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    @apply text-white;
    @apply mt-16 pt-20;
  }
}
