@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  display: flex;
  max-height: 1000px;
  align-items: end;
  &__left {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 55%;
  }
  &__right {
    width: 45%;
    @apply p-8;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  &__heading {
    font-size: clamp(32px, 3.33312vw, 128px);
    width: 100%;
    font-family: "Oswald", sans-serif;
    @apply text-white;
    @apply mt-16;
  }
  &__paragraph {
    @apply mt-4;
    color: #9e9e9e;
    display: block;
    font-size: clamp(6px, 2.80368vw, 24px);
    font-family: "Raleway", sans-serif;

    @include respond-to("md") {
      font-size: clamp(7px, 3.2709599999999996vw, 28px);
    }

    @include respond-to("tablet_sm", "landscape") {
      width: 61%;
      font-size: clamp(6.5px, 13 / 1024 * 100vw, 26px);
    }

    @include respond-to("xl") {
      // width: 60% !important;
      font-size: clamp(9px, 0.93744vw, 36px);
    }
  }
}
