.container {
  &__img {
    width: clamp(900px, 93.744vw, 3600px);
    position: absolute;
    margin-top: clamp(50px, 5.208vw, 200px);
    margin-left: clamp(22.5px, 2.3436vw, 90px);
  }

  &__video {
    margin: auto;
    position: relative;
    @apply pt-64;
  }

  &__items {
    display: flex;
    justify-content: center;
    overflow: hidden;
    @apply pt-52;
    width: 75%;
    position: relative;
    margin: auto;
  }
}

.customButton {
  position: absolute;
  top: 60%;
  z-index: 20;
  width: clamp(25px, 2.604vw, 100px);
  height: clamp(25px, 2.604vw, 100px);
}

.customButton.prev {
  left: 0px;
}

.customButton.next {
  right: 0px;
}
