@import "../../../../shared/styles/mixins";
@import "../../../../shared/styles/variables";

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(22.5px, 2.3436vw, 90px);
  @apply mt-12;

  &__items {
    width: clamp(155.5px, 16.19688vw, 622px);
    height: clamp(210px, 21.8736vw, 840px);
    @apply bg-gray;
    border: 1px solid #fff200;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    @apply pr-2;

    @include respond-to("xs") {
      width: clamp(155.5px, 301 / 320 * 100vw, 640px);
    }

    @include respond-to("sm") {
      width: clamp(155.5px, 301 / 576 * 100vw, 640px);
    }

    @include respond-to("md") {
      width: clamp(155.5px, 301 / 768 * 100vw, 640px);
    }

    @include respond-to("lg") {
      width: clamp(155.5px, 301 / 992 * 100vw, 640px);
    }

    @include respond-to("tablet_sm", "landscape") {
      height: clamp(175px, 350 / 1024 * 100vw, 700px);
    }

    @include respond-to("xl") {
      width: clamp(110px, 220 / 1200 * 100vw, 440px);
    }

    @include respond-to("2xl") {
      width: clamp(135px, 270 / 1360 * 100vw, 540px);
    }

    @include respond-to("3xl") {
      width: clamp(155.5px, 301 / 1520 * 100vw, 640px);
    }

    @include respond-to("4xl") {
      width: clamp(165px, 330 / 1680 * 100vw, 660px);
    }

    @include respond-to("5xl") {
      width: clamp(175px, 350 / 1920 * 100vw, 700px);
    }

    @include respond-to("6xl") {
      width: clamp(200px, 400 / 2560 * 100vw, 800px);
      height: clamp(215px, 430 / 2560 * 100vw, 860px);
    }
  }

  &__overlay {
    @apply p-8;
  }
}
