@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(22.5px, 2.3436vw, 90px);
  margin-top: clamp(28px, 13.083839999999999vw, 112px);
  @include respond-to("xl") {
    @apply mt-12;
  }

  &__items {
    @apply bg-gray;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 90%;
    height: clamp(100px, 46.727999999999994vw, 400px);

    @include respond-to("md") {
      height: clamp(70px, 32.709599999999995vw, 280px);
    }

    @include respond-to("xl") {
      width: clamp(261.5px, 27.237840000000002vw, 1046px);
      height: clamp(131.5px, 13.697040000000001vw, 526px);
    }

    @apply p-8;
  }

  &__overlay {
    display: flex;
    align-items: center;
    gap: clamp(4px, 0.41664vw, 16px);
  }
}
