@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  @apply pb-4;
  @include respond-to("tablet") {
    @apply pb-24;
  }
  @include respond-to("5xl") {
    @apply pb-64;
  }
}
