@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply pb-20;
  &__paragraph {
    width: 70%;
    text-align: center;
    font-size: clamp(8px, 3.73824vw, 32px);
    font-family: "Raleway", sans-serif;
    @apply text-white;
    @apply mt-8;
    @include respond-to("md") {
      font-size: clamp(9px, 4.20552vw, 36px);
    }
    @include respond-to("xl") {
      font-size: clamp(9px, 0.93744vw, 36px);
    }
  }
}
