@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.grid {
  &__image {
    width: clamp(8px, 3.73824vw, 32px);
    height: clamp(8px, 3.73824vw, 32px);
    @include respond-to("xl") {
      width: clamp(16px, 1.66656vw, 64px);
      height: clamp(16px, 1.66656vw, 64px);
    }
  }

  &__overlay {
    display: flex;
    align-items: center;
    gap: clamp(4px, 0.41664vw, 16px);
  }

  &__title {
    font-family: "Raleway", sans-serif;
    @apply text-primary;
    font-size: clamp(8px, 3.73824vw, 32px);
    @include respond-to("md") {
      font-size: clamp(7px, 3.2709599999999996vw, 28px);
    }
    @include respond-to("xl") {
      font-size: clamp(12px, 1.24992vw, 48px);
    }
  }

  &__description {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    @apply mt-4;
    width: 95%;
    font-size: clamp(7px, 3.2709599999999996vw, 28px);
    @include respond-to("md") {
      font-size: clamp(6px, 2.80368vw, 24px);
    }
    @include respond-to("xl") {
      font-size: clamp(9.5px, 0.9895200000000001vw, 38px);
    }
  }
}
